.to-expand {
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition:
    opacity 250ms ease-in-out,
    max-height 250ms ease-in-out;
  max-height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
}
.expanded {
  opacity: 1;
  /*height: fit-content;*/
  max-height: 1500px;
}
.expander-main {
  background-color: inherit;
}
.expander-header {
  cursor: pointer;
}
