.introText {
  margin-bottom: 2rem;
}

.formLabel {
  margin-left: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.formInput {
  width: 20rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
